name: Ci-Build

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: i686-linux-android
            os: ubuntu-latest
          - target: x86_64-linux-android
            os: ubuntu-latest
          - target: aarch64-linux-android
            os: ubuntu-latest
          
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest

          - target: x86_64-pc-windows-msvc
            os: windows-latest

    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        run: rustup update stable

      - name: Install cross-compilation tools
        if: runner.os == 'Linux'
        uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }} 

      - name: Add MSVC Target
        if: runner.os == 'Windows'
        run: rustup target add ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload DLL
        if: contains(matrix.target, 'windows')
        uses: actions/upload-artifact@v4
        with:
          name: BuildLimitChanger-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/BuildLimitChanger.dll

      - name: Upload SO
        if: contains(matrix.target, 'android') || contains(matrix.target, 'linux')
        uses: actions/upload-artifact@v4
        with:
          name: BuildLimitChanger-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/libBuildLimitChanger.so